.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 30%; /* You can adjust the height as needed */
    border-radius: 10px;
    margin-left: 15%;
    font-size: 18px;
    font-family: Inter, sans-serif;
}
  
  table {
    border-collapse: collapse;
    width: 100%; /* Adjust the width as needed */
  }
  
.table-container td{
    height: 3em;
    padding: 10px;
    background-color: darkgray;
  }
  
.table-container .black-cell {
    padding-left: 35px;
    background-color: black;
    color: white;
    font-weight: bold;
    width: 33%;
    height: 70%;
  }

  .curved-table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
}

 .curved-table tr {
  transition: transform 0.3s ease; /* Add a transition effect */
}

 .curved-table tr:hover {
  transform: scale(1.03); /* Apply a slight scale increase on hover */
}